<!DOCTYPE html>
<html lang="en" ng-app="spiio">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spiio - Healthy Office Plants Made Easy</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

</head>

<body id="page-top" class="index" ng-controller="SpiioCtrl" ng-init="init()">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img style="max-width:70px; margin-top: -10px;"
             src="img/logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#product">Product</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">HEALTHY OFFICE PLANTS MADE EASY</div>
                <a href="#contact" class="page-scroll btn btn-xl">I Want It!</a>
                <a href="#services" class="page-scroll btn btn-xl" style="background-color: transparent">Tell Me More</a>
                
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Make your plants smart</h2>
                    <h3 class="section-subheading text-muted">... growing both plants and business at the same time.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cost Savings</h4>
                    <p class="text-muted">Lower your maintenance cost by up to <b>30%</b>. <br>Decrease water consumption with up to <b>30%</b>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics</h4>
                    <p class="text-muted">Get a better understanding of your plants and how to make money on them.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer Retention</h4>
                    <p class="text-muted">Interact with your customer through your plants and grow retention.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="product">
        <div class="container">
            
          


            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sensors</h2>
                    <h3 class="section-subheading text-muted">Discreet, modern and subtle high technology for your plants.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="img/portfolio/2.jpg" class="img-responsive img-rounded" alt="">
                    <div class="portfolio-caption">
                        <h4>Base Station</h4>
                        <p class="text-muted">Autonomous radio technology.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                        <img src="img/portfolio/2.jpg" class="img-responsive img-rounded" alt="">
                    
                    <div class="portfolio-caption">
                        <h4>Sensor Ecosystem</h4>
                        <p class="text-muted">The sensors are built for large scale. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                        <img src="img/portfolio/2.jpg" class="img-responsive img-rounded" alt="">
                    
                    <div class="portfolio-caption">
                        <h4>Game Changer</h4>
                        <p class="text-muted">Solution to inefficient maintenance.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                        <img src="img/portfolio/4.jpg" class="img-responsive img-rounded" alt="">
                    
                    <div class="portfolio-caption">
                        <h4>Discreet</h4>
                        <p class="text-muted">Just fit into the setting.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                        <img src="img/portfolio/5.jpg" class="img-responsive img-rounded" alt="">
                    
                    <div class="portfolio-caption">
                        <h4>Informative</h4>
                        <p class="text-muted">All plant data in one place.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                        <img src="img/portfolio/6.jpg" class="img-responsive img-rounded" alt="">
                    
                    <div class="portfolio-caption">
                        <h4>Easy</h4>
                        <p class="text-muted">Configure in seconds.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">Plug'n'play will get you up and running in seconds.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Configure</h4>
                                    <h4 class="subheading">Use our userfriendly app.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Installation is done by scanning the QR code, and every plant will be tracked with information about setting, a picture and light conditions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Measure</h4>
                                    <h4 class="subheading">Data for the next 3 years.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our sensors measures temperature, soil moisture and light, and have 3 years of lifetime.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Learn</h4>
                                    <h4 class="subheading">Use our app or API to understand your plants.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Use the analytics created in Spiio's Cloud solution to grow your business and reach new customer segments!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Expand</h4>
                                    <h4 class="subheading">Service more plants and grow your business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the great analysing tool and better overview of all of your plants, you have more time in hand and together we can make the world greener!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Help Us
                                    <br>Greening
                                    <br>The World!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <!--section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted">... with a mission to make the world greener.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-rounded" alt="">
                        <h4>Torben</h4>
                        <p class="text-muted">CEO <br>
                            torben@spiio.com</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-rounded" alt="">
                        <h4>Martin</h4>
                        <p class="text-muted">CTO<br>
                            martin@spiio.com</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-rounded" alt="">
                        <h4>Christoffer</h4>
                        <p class="text-muted">CCO <br>
                            christoffer@spiio.com</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-rounded" alt="">
                        <h4>Alexander</h4>
                        <p class="text-muted">Software Developer <br>
                            alexander@spiio.com</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-rounded" alt="">
                        <h4>Jeremy</h4>
                        <p class="text-muted">Business Development Manager<br>
                            jeremy@spiio.com</p>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section-->

    <!-- Clients Aside -->
    <!-- aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside -->
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Help Me Keep My Office Plants Healthy</h2>
                    <h3 class="section-subheading text-muted">Calculate price below!</h3>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                        <div ng-show="!calc" class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <h4 class="section-heading text-center">How many plants do you have?</h4>
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="number" min="1">
                                </div>
                                <button class="btn btn-xl center-block" ng-click="calcPrice()">Calculate price</button>
                                <br>
                                <p class="text-center">
                                    <a href="mailto:contact@spiio.com">Sounds nice! But I don't have any plants.<br> Contact us and we can make you a good offer!</a>
                                </p>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="calc === true" class="text-center" style="color: #ffffff;">
                            <h4 class="section-heading">Your price:</h4> <h2> ${{number}} <small>/month</small></h2>
                            <p>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <a class="btn btn-xl" class="page-scroll" href="#buy" ng-click="showDetails()">Sign me up</a>
                                <br><br>
                                <p>
                                    <a href="" ng-click="calc = false;">Re-calculate</a>
                                </p>
                            </div>
                            </p>

                        </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section ng-show="signup" id="buy" class="subbg">
        <div class="container">
        <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->

        <div class="col-xs-12 col-md-8 col-md-offset-2">

            <h3 class="section-heading" style="color: #ffffff">Business Details</h3>

            <form id="contactForm" novalidate>
                        
            
                <div class="form-group">
                    <input type="text" ng-model="customer.name" class="form-control input-lg" placeholder="Company Name *" id="name" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="email" ng-model="customer.email" class="form-control input-lg" placeholder="Billing Email *" id="email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="adr" ng-model="customer.adr" class="form-control input-lg" placeholder="Billing Adress *" id="adr" required data-validation-required-message="Please enter your address.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="customer.phone" class="form-control input-lg" placeholder="Zip *" id="zip" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="customer.city" class="form-control input-lg" placeholder="City *" id="city" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <select ng-model="customer.country" class="form-control input-lg" placeholeder="Country" name="country" id="country">
                            <option value="" disabled>-- Country --</option>
                            <option value="AR">Argentina</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BR">Brazil</option>
                            <option value="BG">Bulgaria</option>
                            <option value="CA">Canada</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CO">Colombia</option>
                            <option value="CR">Costa Rica</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EG">Egypt</option>
                            <option value="EE">Estonia</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="HK">Hong Kong S.A.R., China</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Laos</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MK">Macedonia</option>
                            <option value="MY">Malaysia</option>
                            <option value="MT">Malta</option>
                            <option value="MX">Mexico</option>
                            <option value="MD">Moldova</option>
                            <option value="MC">Monaco</option>
                            <option value="ME">Montenegro</option>
                            <option value="MA">Morocco</option>
                            <option value="NL">Netherlands</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="KP">North Korea</option>
                            <option value="NO">Norway</option>
                            <option value="PK">Pakistan</option>
                            <option value="PS">Palestinian Territory</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russia</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="RS">Serbia</option>
                            <option value="SG">Singapore</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="ZA">South Africa</option>
                            <option value="KR">South Korea</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="TW">Taiwan</option>
                            <option value="TH">Thailand</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">USA</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VN">Vietnam</option>
                        </select>
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <a class="btn btn-xl center-block" class="page-scroll" href="#billing" ng-click="showPayment()">ORDER</a>
                </div>
            </form>
            

        </div>
        

        </div>
        </div>
    </section>

    <section ng-show="payment" id="billing" class="subbg">

    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
        
            <h3 class="section-heading" style="color: #ffffff">payment details</h3>
                
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" style="padding: 5px;">
                        
                        <div class="display-td">                            
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV CODE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">PROMO CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">Sign up for {{number}} sensors (${{number}} /month)</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
            <div class="text-center" style="color: #ffffff">
            <br><br>Payment begins when the product is delivered!
            </div>
        </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Spiio International 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/spiio1" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/spiio?trk=mini-profile"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- App logic -->
    <script type="text/javascript" src="./app.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>

    <script type="text/javascript" src="./js/payment.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>


</body>

</html>
